img {
  height: auto;
  width: 100%;
  display: block;
}

main > section {
  grid-column: 2/3;
}

main > article {
  grid-column: 2/3;
}

.page-header {
  grid-column: 2/3;
}

#filtrering {
  grid-column: 2/3;
  margin-bottom: 4rem;
}

#tema-filtrering {
  grid-column: 2/3;
}

#filtrering h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#overskrift {
  margin-top: 30px;
  grid-column: 2/3;
}

#seo_tekst {
  grid-column: 2/3;
}

.site-main {
  display: grid;
  grid-template-columns: auto minmax(0, 1200px) auto;
  align-items: center;
}

/****kurser***/

#kursus-oversigt {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

#kursus-oversigt article {
  /*display: flex;
  flex-wrap: wrap; */
  align-content: space-between;
  margin: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  background-color: #4eada8;
}

#kursus-oversigt article h2 {
  font-size: 1.2em;
  padding-block: 1rem;
}

#kursus-oversigt article p {
  line-height: 1.2;
}

body {
  color: black;
}

/****filtreringsknap****/

button {
  border-radius: 0;
  background-color: white;
  border: 1px solid black;
  color: black;
  margin-block: 1rem;
  margin-inline: 0.5rem;
  padding: 5px;
  padding-inline: 1rem;
}

button:hover {
  background-color: #4eada8;
  border: 1px solid black;
  color: black;
}

.valgt {
  background-color: #4eada8;
}

/***singleview****/

#single_article {
  background-color: white;
}

.single_container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.single_container2 .info_box {
  background-color: lightgrey;
  margin: 0.5rem;
  padding: 1rem;
}

.single_container3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.single_container4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.kontakt_info #submit_button {
  margin-top: 20px;
}
.kontakt_info {
  padding: 1rem;
}
.booking {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.first_form {
  grid-column: 1/2;
}
.second_form {
  grid-column: 2/3;
}

/***** medarbejder siden***/

#underoverskrift {
  grid-column: 2/3;
}

#medarbejder-oversigt {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

#medarbejder-oversigt article {
  /*display: flex;
  flex-wrap: wrap; */
  align-content: space-between;
  margin: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  background-color: #ffc7a8;
}

#medarbejder-oversigt article h2 {
  font-size: 1.5em;
  margin-top: 20px;
}

#medarbejder-oversigt article h3 {
  font-size: 1.2em;
  margin-top: 20px;
}

#medarbejder-oversigt article h4 {
  font-size: 1em;
  margin-top: 20px;
}
.builder-item--primary-menu {
  --hoverColor: #4eada8;
  --activeColor: #4eada8;
}
